#loginImg {
    // height: 75vh;
    width: 75vw;
    border-radius: 50%;
    display: inline-block;
    border-color: black;
}

#signUpLnk {
    text-decoration: none;
    margin-left: 60%;
}

#loginBtn {
    margin-left: 2rem;
    margin-right: 2rem;
}

#card {
    padding: 1rem;
}

#date {
    padding-left: 0px;
}

#loginLnk {
    text-decoration: none;
    
    font-size: 16px;
}