<ion-header>
  <ion-toolbar>
    <ion-title>
      Scheduled Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of this.api.scheduledmessage">
      <h3>{{item.message}}</h3>
      <div style="float:right">
        <ion-list>
          <ion-item *ngIf='item.text === true'>Text</ion-item>
          <ion-item *ngIf='item.email === true'>email</ion-item>
          <ion-item *ngIf='item.push === true'>Push</ion-item>
          <ion-item>{{item.time}}</ion-item>
          <ion-item>{{item.date}}</ion-item>
          <ion-item>{{item.frequency}}</ion-item>
        </ion-list>
      </div>
    </ion-item>
  </ion-list>



</ion-content>