<ion-header>
  <ion-toolbar>
    <ion-title>
      New Message:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='10px'>
  <div>
    <ion-input type="text" maxlength="18" placeholder="Type your message" debounce="0" [(ngModel)]="searchText"
      (ionChange)="ionChange(searchText)" id='userInput'
      style=' height: 120px; border: 1px solid #999999; padding: 5px;'></ion-input>
  </div>
  <br>
  <ion-list>
    <ion-list-header>
      <ion-label>Send to:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Text</ion-label>
      <ion-toggle id='textbox'></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-toggle id='emailbox'></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Push Notification</ion-label>
      <ion-toggle id='pushbox'></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>WHEN TO SEND MESSAGE</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Now</ion-label>
        <ion-radio id='selectnow' (ionSelect)='now()' slot="start" value="biff" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Schedule</ion-label>
        <ion-radio (ionSelect)='showschedule()' slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div id='sendnow' style="text-align:center">
    <ion-button type='submit' (click)='confirmsendnow()'>Send Now</ion-button>
  </div>

  <ion-list style="display:none" id='schedule'>
    <ion-list-header>Schedule messaging</ion-list-header>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime id='timeinput' displayFormat="DDDD MMM D, YYYY" min="2019" max="2030" value="2019-07-02">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time:</ion-label>
      <ion-datetime id='dateinput' displayFormat="h:mm a" value='14:00'></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Frequency</ion-label>
      <ion-select id='freinput' placeholder='Select one'>
        <ion-select-option value='onetime'>One Time</ion-select-option>
        <ion-select-option value='weekly'>Weekly</ion-select-option>
        <ion-select-option value='monthly'>Monthly</ion-select-option>
      </ion-select>
    </ion-item>
    <div style="text-align:center">
      <ion-button type='submit' (click)='confirm()'>Shedule</ion-button>
    </div>
  </ion-list>
  <!-- <form>
    <select id='freinput'>
      <option value="onetime">One time</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
    </select>
  </form> -->


</ion-content>