<ion-header>
  <ion-toolbar>
    <ion-title>
      New Message:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='10px'>
  <ion-input type='textinput' id='userInput' placeholder='Type here'></ion-input>

  <ion-list>
    <ion-list-header>
      <ion-label>Send to:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Text</ion-label>
      <ion-checkbox id='textbox'></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-checkbox id='emailbox'></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Push Notification</ion-label>
      <ion-checkbox id='pushbox'></ion-checkbox>
    </ion-item>
  </ion-list>
  <div style="text-align:center">
    <ion-button (click)='send()'>Send</ion-button>
  </div>
  <!-- <ion-button (click)='get()'>Get</ion-button>
  <ion-button (click)='text()'>Text</ion-button> -->
</ion-content>