<ion-header>
    <ion-item>
      <ion-label style="padding-left: 35%;font-size: 1.5rem;
      font-weight: 200;">
        Marketing
      </ion-label> 
      <ion-icon slot="end" color="medium" (click)='logout()' name="log-out"></ion-icon>
    </ion-item>
</ion-header>

<ion-content padding='10px'>
  <ion-list-header>
    <ion-label id="subHeading">CREATE MESSAGE:</ion-label>
  </ion-list-header>

  <div>
      <ion-textarea rows="1" cols="50" type="text" placeholder="Subject" debounce="0" [(ngModel)]="messageBuilder.subject"
      (ionChange)="subject()" id='userInput'
      style='border: 1px solid #999999; border-radius: 15px; padding: 5px; padding-left: 8px;'></ion-textarea>
  </div>
  <div>
    <ion-textarea rows="5" cols="50" type="text" placeholder="Type your message" debounce="0" [(ngModel)]="messageBuilder.input"
      (ionChange)="messageChange()" id='userInput'
      style='border: 1px solid #999999; border-radius: 15px; padding: 5px; padding-left: 8px;'></ion-textarea>
  </div>
  <br>
  <ion-list>
    <ion-list-header>
      <ion-label id="subHeading">SEND AS:</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Text</ion-label>
      <ion-toggle (ionChange)="text($event)"  id='textbox'></ion-toggle>
    </ion-item>


    <ion-item>
      <ion-label>Email</ion-label>
      <ion-toggle (ionChange)="email($event)" id='emailbox'></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Push Notification</ion-label>
      <ion-toggle (ionChange)="push($event)" id='pushbox'></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        <ion-label id="subHeading">WHEN TO SEND MESSAGE:</ion-label>
      </ion-list-header>

    <ion-radio-group>
      <ion-item>
        <ion-label>Now</ion-label>
        <ion-radio id='selectnow' (ionSelect)="now($event)" slot="start" value="biff" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Set Schedule</ion-label>
        <ion-radio (ionSelect)='showschedule($event)' slot="start" value="griff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div id='sendnow' style="text-align:center">
    <ion-button type='submit' (click)='confirmsendnow()'>Send Now</ion-button>
  </div>

  <ion-list style="display:none" id='schedule'>
    <ion-list-header>Schedule messaging</ion-list-header>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime [(ngModel)]="messageBuilder.date" (ionChange)="dateChange()"  id='timeinput' displayFormat="DDDD MMM D, YYYY" min="2019" max="2030" value="2019-07-02">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Time:</ion-label>
      <ion-datetime [(ngModel)]="messageBuilder.time" (ionChange)="timeChange()" id='dateinput' displayFormat="h:mm a" value='14:00'></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Frequency</ion-label>
      <ion-select [(ngModel)]='messageBuilder.frequency' (ionChange)='frequency()' id='freinput' placeholder='Select one'>
        <ion-select-option value='onetime'>One Time</ion-select-option>
        <ion-select-option value='weekly'>Weekly</ion-select-option>
        <ion-select-option value='monthly'>Monthly</ion-select-option>
      </ion-select>
    </ion-item>
    <div style="text-align:center; margin: 1.25rem">
      <ion-button type='submit' (click)='confirm()'>Schedule</ion-button>
    </div>
  </ion-list>
</ion-content>